@import "global";

.navbar {
    transition: all .3s ease-in-out;
    * {
        transition: all .3s ease-in-out;
    }
}

.top-bar {
    background: #ebfffc;
    padding: 15px;
    display: flex;
    justify-content: center;
    .social {
        i {
            width: 40px;
    height: 40px;
    background: white;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);

        }
    }
    .info {
        display: flex;
        margin-left: 30px;
        p {
            margin-right: 30px;
            align-self: center;
    margin-bottom: 0;
        }
        i {
            padding-right: 10px;
        }
    }
}