/******************************* media ******************/

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .wellcome .bottom {
        bottom: -150px
    }
 
   
  
}

@media only screen and (max-width: 768px) {
.m-none {
    display: none;
}
 .intro {
    .swiper-container .swiper-slide {
        height: 70vh;}
     .top_bg {
        position: absolute;
        top: 0;}
        .swiper-slide {
         .row  {
            flex-direction: column-reverse;
             img {
                 height: 180px;;
             }
         }
     }
 }

 .feat_section {
    margin-top: -15px;}
 
 
    .customer-service {
       img {
           margin-top: 35px;
       }
    }
   
}

@media only screen and (max-width: 479px) {

}

@media only screen and (max-width: 360px) {

}

@media screen and (max-width: 1245px) {}


/********************************* media ******************/